<!DOCTYPE html>
<html lang="es-ES">
<head>
    {% load static %}
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    {% load static %}
    <link rel="stylesheet" href="{%static 'css/all.css' %}" type="text/css" rel="stylesheet">
    <link rel="stylesheet" href="{%static 'css/all.min.css' %}" type="text/css" rel="stylesheet">
    <link rel="stylesheet" href="{%static 'css/bootstrap.min.css.map' %}" type="text/css" rel="stylesheet">
    <link rel="stylesheet" href="{%static 'css/bootstrap.min.css' %}" type="text/css" rel="stylesheet">
    <link rel="stylesheet" href="{%static 'css/fonts.css' %}" type="text/css" rel="stylesheet">
    <link rel="stylesheet" href="{%static 'css/aviz.css' %}" type="text/css" rel="stylesheet">
    {% block title %}<title>Aviz</title>{% endblock %}
</head>

<header>
    <nav>
        <div class="container">
            <a id="btn-menu" class="btn-menu" style="cursor: pointer;"><i class="fas fa-bars" style="color: white; font-size: 22px;"></i></a>
            <a href="{%url 'index' %}" style="text-decoration: none;"><h1 class="logo" style="color: white; 
            font-family: Copperplate, Copperplate Gothic Light, fantasy; letter-spacing: 8px; font-size: 25px; display: inline-flex; 
            margin-left: 10px; align-items: center;"> AVIZ</h1></a>
            <a class="suscribe" href="{%url 'loginSuscribe' %}" style="float: right; color: white; text-decoration: overline;
                font-family: Copperplate, Copperplate Gothic Light, fantasy; font-size: 15px;">SUSCRIBIRSE</a>
        </div>
    </nav>
    <div class="menu" id="menu">
        <div class="row">
            <div class="col-10">
                <h5 style="letter-spacing: 2px;">MENÚ</h5>
            </div>
            <div class="col-2">
                <a href="#" id="btn-close-menu" class="btn-close-menu"><i class="fas fa-times" style="color: white; font-size: 20px;"></i></a>
            </div>
        </div>
        <hr class="divider" style="border: 1px solid rgb(58, 58, 58);">
        <a id="suscribirse-mbMode" class="suscribeLoginMobile" href="{%url 'loginSuscribe' %}"><p>Suscribirse</p></a>
        <a href="#mas-reciente" style="text-decoration: none; color: white;"><p style="font-family: Copperplate, Copperplate Gothic Light, fantasy; font-weight: lighter;">Películas / Series más recientes</p></a>
        <a href="#mas-populares" style="text-decoration: none; color: white;"><p style="font-family: Copperplate, Copperplate Gothic Light, fantasy; font-weight: lighter;">Películas más populares</p></a>
        <a href="{%url 'catalogo' %}" style="text-decoration: none; color: white;"><p style="font-family: Copperplate, Copperplate Gothic Light, fantasy; font-weight: lighter;">Catálogo de Películas / Series</p></a>
        <a href="#nuevos-estrenos" style="text-decoration: none; color: white;"><p style="font-family: Copperplate, Copperplate Gothic Light, fantasy; font-weight: lighter;">Nuevos estrenos</p></a>
        <hr class="divider" style="border: 1px solid rgb(58, 58, 58);">
        <div class="text-center">
            <a href="https://www.netflix.com" target="_blank" style="text-decoration: none;"><p style="font-family: Copperplate, Copperplate Gothic Light, fantasy; letter-spacing: 5px; color: white;">AVIZ <span style="font-size: 11px; color: white;">by Netflix</span></p></a>
        </div>
    </div>
</header>




{% block content %}{% endblock %}

{% load static %}
    <script src="https://kit.fontawesome.com/64d58efce2.js"></script>
    <script src="https://code.jquery.com/jquery-3.2.1.slim.min.js"
        integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN" crossorigin="anonymous">
    </script>
    <script src="https://code.jquery.com/jquery-1.11.3.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js"
        integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q" crossorigin="anonymous">
    </script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js"
        integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl" crossorigin="anonymous">
    </script>
    <script src="{%static 'js/menu.js' %}"></script>
</html>